.vscode/

pidx-ui/.astro/
pidx-ui/node_modules/
pidx-ui/dist/
pidx-ui/public/
pidx-ui/src/
pidx-ui/src-tauri/gen/
pidx-ui/src-tauri/target/

profiles/*.pidx.json

mailbox/
mailbox/**
*.bridge.json
*.pidx.json

pyrchive/

target/
